# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Intermediate/CachedAssetRegistry.bin
Intermediate/ShaderAutogen/PCD3D_ES31/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Saved/Config/CrashReportClient/UECC-Windows-5205D29C4B22855366238CB1FB27E21A/CrashReportClient.ini
Saved/Config/WindowsEditor/Compat.ini
Saved/Config/WindowsEditor/ControlRig.ini
Saved/Config/WindowsEditor/DeviceProfiles.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Saved/Config/WindowsEditor/Engine.ini
Saved/Config/WindowsEditor/FullBodyIK.ini
Saved/Config/WindowsEditor/Game.ini
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Config/WindowsEditor/HairStrands.ini
Saved/Config/WindowsEditor/Hardware.ini
Saved/Config/WindowsEditor/Input.ini
Saved/Config/WindowsEditor/Lightmass.ini
Saved/Config/WindowsEditor/Niagara.ini
Saved/Config/WindowsEditor/Paper2D.ini
Saved/Config/WindowsEditor/RuntimeOptions.ini
Saved/Config/WindowsEditor/Scalability.ini
Saved/Config/WindowsEditor/Synthesis.ini
Saved/Config/WindowsEditor/TraceDataFilters.ini
Saved/Config/WindowsEditor/VariantManagerContent.ini
Saved/Logs/Fusilli_Dimension.log
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_ES31/AutogenShaderHeaders.ush
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Intermediate/ShaderAutogen/PCD3D_ES31/AutogenShaderHeaders.ush
Intermediate/CachedAssetRegistry.bin
*.ush
*.bin
*.ush
